@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    background-color: rgba(255, 244, 197, 1);
    padding-bottom: 1000px;
}
header img{
    width: 70px;
    height: 70px;
}

header{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   padding-bottom: 30px;
}


nav {
    display: flex;
    align-items: center;
    gap: 60px;
    background-color: rgba(237, 199, 144, 1);
    height: 50px;
    border-radius: 20px;
   padding-left: 50px;
   padding-right: 50px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 218, 165, 1);
    width: 100%;
    height: 500px;
  
}

main img{
    width: 700px;
    height: 350px;
}
main p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Joan", serif;
    width: 650px;
    color: rgba(148, 93, 38, 1);
}

.sobrenos h1{
    display: flex;
    align-items: end;
    justify-content: end;
    transform: rotate(-90deg);
    font-size: 40px;
    letter-spacing: 35px;
    width: 600px;
    margin-right: -230px;
    font-family: "Joan", serif;
   
}

.sobrenos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 40px;
    color: rgba(148, 93, 38, 1);
    font-family: "Joan", serif;

}

.sobrenos img{
    width: 530px;
    height: 300px;
}

.sobrenos p{
    width: 530px;
    font-size: 30px;
}

.roda{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 300px;
    gap: 25px;
    padding-bottom: 100px;
}


.acomunidade{
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: rgba(255, 233, 185, 1);
      font-family: "Joan", serif;
    font-size: 30px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    gap: 100px;
    padding-left: 145px;
    color:rgba(148, 93, 38, 1) ;
    /* height: 500px; */
}

.acomunidade img{
    width: 580px;
    height: 480px;
    margin-right: -250px;
}

.comu{
    font-family: "Joan", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 320px;
   
}

.comu p{
    width: 400px;
}

.comu h1{
    display: flex;
    align-items: start;
    justify-content: start;
    letter-spacing: 10px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.botao button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border: none;
    background-color: rgba(255, 122, 122, 1);
    border-radius: 10px;
    margin-right: -250px;
}